<div id="spree-header" class="bg-dark">
  <header id="header" data-hook class="bg-dark">
    <div class="container ">
      <div class="row bg-dark">
        <figure id="logo" class="col-3 col-md-4" data-hook>
        <img src="https://www.notion.so/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Faa3e4e9a-7688-4506-a164-0452957bc6e6%2Fff9cbc1b-5e98-4e03-859c-063f41ec61c8%2FUntitled.png?table=block&id=fc7ea29f-65c4-4d5a-8c81-6864aec91ac3&spaceId=aa3e4e9a-7688-4506-a164-0452957bc6e6&width=2000&userId=5c1cb4e8-f15b-46ec-a8a7-8acdc71b3d4b&cache=v2" alt="Logo" style="width: 230px;"> 
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container bg-dark">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
